# Entorno
.env

# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos del editor
.vscode/
.idea/

# Archivos de construcción
dist/
build/
out/

# Cobertura de pruebas
coverage/
